@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body {
  font-family: 'Roboto'
}
.accordion {
  margin: 8px 0px;
  border-radius: 4px;
  background-color: #f3f6f7;
  border-bottom: 1px solid #d2d2d2;
}
.accordion__button {
  border-radius: 4px;
  display: block;
  height: 32px;
  background-color: #19a974;
  padding: 8px;
  color: white;
}
.accordion__button:hover{
  cursor: pointer;
}
.accordion__button span {
  font-size: 20px;
}
.accordion__button--sub {
  border: 2px solid #19a974;
  color: #19a974;
  background-color: white;
}
.accordion__content {
  transition: 0.3s;
  visibility: visible;
  overflow: hidden;
  opacity: 1;
}
.accordion__content--sub {
  background-color: #e6e6e6;
}
.accordion__content--hidden{
  visibility: hidden;
  height: 0px;
  opacity: 0;
}
