.topbar {
  background-color: #444444;
  color: white;
  padding: 16px;
  margin-bottom: 32px;
}
.topbar h1 {
  max-width: 60rem;
  margin: 0 auto;
  text-align: left;
}
.topbar h1 small {
  float: right;
  font-size: 12px;
  margin: 12px 0px;
  color: gold;
}

.notice-box {
  background-color: gold;
  border: none;
  width: auto;
  margin-top: 0px;
  color: black;
}
