.hidden {
  display: none;
}
.version {
  color: white;
}
.version__section {
  padding: 8px;
  border: 1px solid #5e2ca5;
  border-radius: 4px;
  color: #5e2ca5;
  margin: 8px 8px 0px 0px;
  min-height: 100px;
  width: 45%;
  float: left;
} 
.version__section h6 {
  margin: 4px 0px;
  font-weight: 300;
}
.version__section h3{
  margin: 8px 0px 32px 0px;
  font-weight: 300;
}
.version__section p {
  font-weight: 300;
}
.version__input {
  width: 100%;
  border: none;
  font-size: 20px;
  color: #5e2ca5;
}
.version__input:focus{
  outline: none;
}
.version__input--textarea{
  font-size: 16px;
  max-height: 64px;
  transition: max-height 0.4s;
}
.version__input--textarea:hover, .version__input--textarea:focus {
  max-height: 250px;
  height: 100%;
}
