.hidden {
  display: none;
}
.version {
  color: white;
}
.version__section {
  padding: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: grey;
  width: 50%;
  float: left;
  background-color: white;
  box-sizing: border-box;
} 
.version__section--full{
  width: 100%;
  margin: 8px 0px 0px;
}
.version__section h6 {
  margin: 4px 0px;
  font-weight: 300;
}
.version__section h3{
  margin: 8px 0px 32px 0px;
  font-weight: 300;
}
.version__section p {
  font-weight: 300;
}
.version__input {
  font-family: "Roboto";
  width: 100%;
  border: none;
  font-size: 16px;
  color: grey;
}
.version__input:focus{
  outline: none;
}
.version__input--textarea{
  font-family: "Roboto";
  height: 200px;
}
