.hidden {
  display: none;
}
.version {
  color: white;
}
.version__section {
  padding: 8px;
  border: 1px solid #19a974;
  border-radius: 4px;
  color: #19a974;
  min-height: 100px;
  width: 47.6%;
  float: left;
  background-color: white;
} 
.version__section:first-child{
  margin-right: 8px;
}
.version__section--full{
  width: 98%;
  margin: 8px 0px 0px;
}
.version__section h6 {
  margin: 4px 0px;
  font-weight: 300;
}
.version__section h3{
  margin: 8px 0px 32px 0px;
  font-weight: 300;
}
.version__section p {
  font-weight: 300;
}
.version__input {
  font-family: "Roboto";
  width: 100%;
  border: none;
  font-size: 20px;
  color: #19a974;
}
.version__input:focus{
  outline: none;
}
.version__input--textarea{
  font-family: "Roboto";
  font-size: 16px;
  height: 200px;
}
