.accordion {
  margin: 8px 0px;
  border-radius: 4px;
  background-color: #f3f6f7;
  border: 1px solid #f3f6f7;
  border-bottom: 1px solid #d2d2d2;
}
.accordion__button {
  border-radius: 4px;
  display: block;
  background-color: #26a69a;
  color: white;
}
.accordion__button:hover{
  cursor: pointer;
}
.accordion__button span {
  font-size: 20px;
  margin-left: 15px;
  display: block;
}
.accordion__button--sub {
  color: #19a974;
  background-color: white;
}
.accordion__content {
  transition: 0.3s;
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  padding: 6px;
}
.accordion__content--sub {
  background-color: white;
}
.accordion__content--hidden{
  visibility: hidden;
  height: 0px;
  opacity: 0;
}
