.modal {
  width: 100vw; 
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.28);
}
.modal__content{
	width: 283px; 
	background-color: white;
	color: black;
	border-radius: 4px;	
	padding: 8px 16px 16px;
  margin: 25vh auto;
  min-height: 102px;
}
.modal--hidden {
	display: none;
}
.modal-label {
	font-family: 'Roboto';
  color: #19a974;
  margin: 10px 0px 20px;
}
