.song-modal {
  width: 100vw; 
  height: 100vh;
  z-index: 11;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.28);
}
.song-modal__content{
	width: 340px; 
	background-color: white;
	color: black;
	border-radius: 4px;	
	padding: 8px 16px 16px;
  margin: 25vh auto;
  min-height: 102px;
  z-index: 10;
}
.song-modal--hidden {
	display: none;
}
.song-modal-label {
	font-family: 'Roboto';
  color: #19a974;
  margin: 10px 0px 20px;
}
.song-modal__close {
  min-width: 64px;
  display: block;
  text-align: center;
}
.song-modal__close--sub {
  color: #19a974;
}

.btn-floating {
  z-index: 0;
}
.btn-sub {
  color: #19a974;
  background-color: white;
  margin-right: 10px;
}
.btn-sub:hover {
  background-color: rgb(196, 196, 196);
}

.btn-wide {
  margin-top: 14px;
}
