@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body {
  font-family: 'Roboto';
  margin: 0px;
  background-color: white;
}
#root {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0px;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0px 10px 12px 0px lightgrey;
}
.topbar {
  background-color: #444444;
  color: white;
  padding: 16px 24px;
  margin-bottom: 32px;
  &__title {
    text-align: left;
    width: 50%;
    display: inline;
  }
  &__button {
    margin-top: 2px;
  }
  small {
    display: none;
  }
  span {
    display: none;
  }
  &__image {
    float: right;
    margin: 0px 14px;
  }
}
.topbar_container {
  max-width: 60rem;
  margin: 0 auto;
}
.songlist {
  padding: 0px 20px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hidden {
  visibility: hidden;
}

@media screen and (min-width: 40rem) {
  .topbar small {
    float: right;
    font-size: 12px;
    margin: 12px 32px 0px 0px;
    color: gold;
    display: inline;
  }
  .topbar span {
    float: right;
    font-size: 12px;
    margin: 12px 0px;
    display: inline;
  }
  .topbar__image {
    float: right;
    margin: 0px 32px 0px 12px;
  }
}
