@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body {
  font-family: 'Roboto';
  margin: 0px;
}
.topbar {
  background-color: #444444;
  color: white;
  padding: 16px;
  margin-bottom: 32px;
}
.topbar_container {
  max-width: 60rem;
  margin: 0 auto;
}
.topbar h1 {
  text-align: left;
  width: 50%;
  display: inline;
}
.topbar small {
  float: right;
  font-size: 12px;
  margin: 12px 0px;
  color: gold;
}
.topbar span {
  float: right;
  font-size: 12px;
  margin: 12px 0px;
}
.topbar__image {
  float: right;
  margin: 0px 64px 0px 12px;
}

.notice-box {
  background-color: gold;
  border: none;
  width: auto;
  margin-top: 0px;
  color: black;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hidden {
  visibility: hidden;
}
